<html>
    <head>
        <title><%=title%></title>
        <link rel="stylesheet" href="/reset.css">
        <link rel="stylesheet" href="/index.css">
    </head>
    <body>
        <h1>Products:</h1>
        <main>
            <div class="upper">
                <div class="left">
                    <form action="/results" class="search" method="get">
                        <input type="text" name="searchQuery" placeholder="search">
                        <button id="search-btn" class="btn">SEARCH</button>
                    </form>
                    <form action="/categories" method="get">
                        <label for="category">Category</label>
                        <select name="categoryQuery" id="category" onchange="this.form.submit()">
                            <option value="" selected></option>
                            <% categories.forEach((category)=> {%>
                                <option value="<%=category.category%>"><%=category.category%></option>
                            <%}) %>
                        </select>
                    </form>
                    <a id="remove-filters-btn" class="btn" href="/">Remove Filters</a>
                </div>
                <a id="new-product-btn" class="btn" href="/new">Add new</a>
            </div>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price(R)</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Category</th>
                            <th scope="col">Ammunition Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% products.forEach((product)=> { %>
                            <tr>
                                <td>
                                    <a href="/<%=product.id%>">
                                        <%=product.id %>
                                    </a>
                                </td>
                                <td>
                                    <a href="/<%=product.id%>">
                                        <%=product.model %>
                                    </a>
                                </td>
                                <td>
                                    <a href="/<%=product.id%>">
                                        <%=product.price %>
                                    </a>
                                </td>
                                <td>
                                    <a href="/<%=product.id%>">
                                        <%=product.quantity %>
                                    </a>
                                </td>
                                <td>
                                    <a href="/<%=product.id%>">
                                        <%=product.category %>
                                    </a>
                                </td>
                                <td>
                                    <a href="/<%=product.id%>">
                                        <%=product.ammunition %>
                                    </a>
                                </td>
                            </tr>
                       <% })%>
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>