<html>
    <head>
        <title><%= title%></title>
        <link rel="stylesheet" href="/reset.css">
        <link rel="stylesheet" href="/showProduct.css">
    </head>
    <body>
        <main>
            <div class="card">
                <div class="header">
                    <h2><%=product.model%></h2>
                    <a class="btn" id="back-btn" href="/">Back</a>
                </div>
                <p>ID:<%=product.id%></p>
                <p>Price: R<%=product.price%></p>
                <p>Quantity: <%=product.quantity%></p>
                <p>Category: <%=product.category%></p>
                <p>Ammunition: <%=product.ammunition%></p>
            </div>
            <div class="actions">
                <a class="btn" id="edit-btn" href="/<%=product.id%>/edit">Edit</a>
                <form action="/<%= product.id%>/delete" method="post">
                    <div class="field">
                        <label for="password">Password: </label>
                        <%- include("partials/errors.ejs")%>
                        <input type="text" name="password" id="password" placeholder="Enter password" required>
                    </div>
                    <button id="delete-btn" class="btn">Delete</button>
                </form>
            </div>
        </main>
    </body>
</html>