<html>
    <head>
        <title><%=title%></title>
        <link rel="stylesheet" href="/reset.css">
        <link rel="stylesheet" href="/newProduct.css">
    </head>
    <body>
        <div class="wrapper">
            <header>
                <h1><%=title%></h1>
                <a href="/">Back to home</a>
            </header>
            <main>
                <form action="/<%=product.id%>/edit" method="post">
                    <div class="field">
                        <label for="model">Model</label>
                        <input type="text" name="model" id="model" required value="<%=product.model %>">
                    </div>
                    <div class="field">
                        <label for="price">Price</label>
                        <input type="number" name="price" id="price" required value="<%=product.price %>">
                    </div>
                    <div class="field">
                        <label for="quantity">Quantity</label>
                        <input type="number" name="quantity" id="quantity" required value="<%=product.quantity%>">
                    </div>
                    <div class="field">
                        <label for="category">Category</label>
                        <select name="category" id="category" required>
                            <option value="">--Please choose an option--</option>
                            <% categories.forEach((category)=> {%>
                                <% if(category.category=== product.category) {%>
                                    <option value="<%=category.category%>" selected><%=category.category%></option>
                                <%} else { %>
                                    <option value="<%=category.category%>"><%=category.category%></option>
                                <%}%>
                            <%}) %>
                        </select>
                    </div>
                    <div class="field">
                        <label for="ammunition">Ammunition</label>
                        <select name="ammunition" id="ammunition" required>
                            <option value="" selected>--Please choose an option--</option>
                            <% ammunitions.forEach((ammunition)=> {%>
                                <% if(ammunition.ammunition===product.ammunition) {%>
                                    <option value="<%=ammunition.ammunition%>" selected><%=ammunition.ammunition%></option>
                                <%} else { %>
                                    <option value="<%=ammunition.ammunition%>"><%=ammunition.ammunition%></option>
                                <%}%>
                            <%}) %>
                        </select>
                    </div>
                    <div class="lower">
                        <div class="field">
                            <label for="password">Password</label>
                            <%- include('partials/errors.ejs')%>
                            <input type="text" name="password" id="password" placeholder="Enter password" required>
                        </div>
                        <div class="btn-container">
                            <button>submit</button>
                            <a href="/">cancel</a>
                        </div>
                    </div>
                </form>
            </main>
        </div>
    </body>
</html>